
#title-bar {
	display: flex;
	position: relative;
	-webkit-app-region: drag;
	min-height: 3rem;
	max-height: 3rem;
	flex-wrap: nowrap;
	overflow: hidden;
	align-items: stretch;
	justify-content: space-between;

	border-bottom: 1px solid #E0E0E0;
}

.title-bar-spacer {
	min-width: 3rem;
}

.title-bar-spacer-small {
	min-width: 0.5rem;
}

/* When window's width is equal or less than max-width */
@media (max-width: 650px) {
	/* Hide spacers */
	.title-bar-spacer { display: none; }
	.title-bar-spacer-small { display: none; }
}

/* ================================================================================= */
/* Explorer button */
/* ================================================================================= */

#explorer-button-container {
	align-items: center;
	justify-content: center;
	min-width: 3.5rem;
}

#explorer-button {
	-webkit-app-region: no-drag;
	background-image: url('./icons/explorer.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	width: 26px;
	height: 26px;
	border-radius: 0.3rem;
}
#explorer-button:hover { background-color: #e9e9e988; }
#explorer-button:hover:active { background-color: #ededed88; }



/* ================================================================================= */
/* Address bar */
/* ================================================================================= */

.address-bar-container {
	flex-grow: 1;
	align-items: center;
	min-width: 15rem;
	max-width: 100rem;
	justify-content: center;
}

.address-bar-button {
	-webkit-app-region: no-drag;
	min-width: 2rem;
	min-height: 2rem;
	border-radius: 0.3rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
.address-bar-button:hover { background-color: #e9e9e988; }
.address-bar-button:hover:active { background-color: #ededed88; }
.left-button { background-image: url('./icons/left.png'); }
.right-button { background-image: url('./icons/right.png'); }
.up-button { background-image: url('./icons/up.png'); }

.address-bar {
	-webkit-app-region: no-drag; 
	width: 100%;
	height: 2rem;
	align-items: stretch;

	background-color: #ffffff11;
	border: 1px solid #d9d9d9;
	border-radius: 0.3rem;
}
.address-bar:focus { background-color: #ffffff; }

.address-bar-section {
	border: 1px solid transparent;
	align-items: center;
	padding: 0 2px;
}
.address-bar-section-first {
	border-radius: .3rem 0 0 .3rem;
	min-width: 1.5rem;
	background-image: url('./icons/explorer.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
}
.address-bar-section-last  { border-radius: 0 .3rem .3rem 0; }
.address-bar-section:hover { border: 1px solid #CCE8FF; background-color: #E5F3FF; }
.address-bar-section:hover:active { border: 1px solid #99D1FF; background-color: #CCE8FF; }


/* ================================================================================= */
/* Minimize / Maximize / Close buttons */
/* ================================================================================= */

#window-buttons-container {
	align-items: flex-start;
	justify-content: flex-end;
}

.window-button {
	-webkit-app-region: no-drag;
	min-width: 3rem;
	min-height: 2rem;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

#minimize-button { background-image: url('./icons/minimize_icon.png'); }
#minimize-button:hover { background-color: #e9e9e988; }
#minimize-button:hover:active { background-color: #ededed88; }

#maximize-button { background-image: url('./icons/maximize_icon.png'); }
#maximize-button:hover { background-color: #e9e9e988; }
#maximize-button:hover:active { background-color: #ededed88; }

#unmaximize-button { background-image: url('./icons/close_icon.png'); }
#unmaximize-button:hover { background-color: #e9e9e988; }
#unmaximize-button:hover:active { background-color: #ededed88; }

#close-button { background-image: url('./icons/close_icon.png'); }
#close-button:hover { background-color: #c42b1c; background-image: url('./icons/close_icon_hover.png'); }
#close-button:hover:active { background-color: #c84031; }

/* When window's width is equal or less than max-width */
@media (max-width: 550px) {
	/* Hide Minimize and Maximize buttons */
	#minimize-button { display: none; }
	#maximize-button { display: none; }
	
	/* Make the buttons smaller */
	#window-buttons-container { min-width: 3rem; }
	.window-button { min-width: 2rem; }
}
